{{>header}}

	<nav id="navigation" class="navbar navbar-default navbar-fixed-top" role="navigation" data-200-top="top: -60px;" data-top="top: 0;" data-anchor-target="#manifesto">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-mechanism">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<p><span class="logo"><strong>WHYGENCY</strong>GRAVITY</span></p>
			</a>
		</div>
		<div class="navbar-collapse collapse" id="navbar-mechanism">
			<ul class="nav navbar-nav navbar-right">
				{{#compose src="paragraphs/*.md"}}
				<li>
					<a href="#{{ @id }}">{{ @title }}</a>
				</li>
				{{/compose}}
				<li>
					<a href="#contact">Kontakt</a>
				</li>
			</ul>
		</div>
	</nav>

	<section id="splash">
		<div class="background" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;" data-anchor-target="#splash"></div>
		<div class="logo" data-center="opacity: 1;" data-center-bottom="opacity: 0;" data-anchor-target="#splash">
			{{>logo}}
		</div>
		<div class="indicator" data-center="opacity: 1;" data--100-center="opacity: 0;" data-anchor-target="#splash">
			<i class="fa fa-chevron-down fa-2x"></i>
		</div>
	</section>

	<section id="intro">
		<div class="content">
			{{#compose src="headlines/our-promise.md" markdown="true"}}
			{{{ @content }}}
			{{/compose}}
		</div>	
	</section>

	<section id="manifesto">
		{{#compose src="paragraphs/*.md" markdown="true"}}
		<article id="{{ @id }}">
			<div class="background" style="background-image: url( '{{ @image }}' );" data-bottom-top="background-position: 50% 100px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#{{ @id }}"></div>
			<div class="container">
				<div class="col-md-6 col-md-offset-3">
					{{{ @content }}}
				</div>
			</div>
		</article>
		{{/compose}}
	</section>

	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p><span class="logo"><strong>WHYGENCY</strong>GRAVITY</span><br/>Birger Jarlsgatan 18<br/>114 34 Stockholm<br/>Sverige</p>
					<ul>
						<li>
							<a href="mailto:thomas@whygencygravity.com" title="Mail Thomas" target="_blank">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
								</span>
								Thomas Brenemark
							</a>
							, +46 70 755 89 70
						</li>
						<li>
							<a href="https://www.facebook.com/pages/WHYGENCYgravity/365967846892740?fref=ts" title="Facebook" target="_blank">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li>
							<a href="mailto:pelle@whygencygravity.com" title="Mail Pelle" target="_blank">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
								</span>
								Pelle Ohrgren
							</a>
							, +46 70 765 84 14
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="map">
		<div class="canvas"></div>
	</section>

{{>footer}}